<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=0.5, shrink-to-fit=yes">
    <link href="https://fonts.googleapis.com/css2?family=Acme&family=Roboto+Mono:wght@300;400&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css"
        integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog=="
        crossorigin="anonymous" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-reboot.min.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-grid.min.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/owl.carousel.min.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/jquery.mCustomScrollbar.min.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/nouislider.min.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/ionicons.min.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/plyr.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/photoswipe.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/default-skin.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

	<!-- Favicons -->
	<link rel="icon"  href="{{ url_for('static', filename='icon/favi.png') }}">
    <title>CineShow | Book Seats</title>
</head>
<body >

    <header class="header" style="position:relative">
		<div class="header__wrap">
			<div class="container">
				<div class="row">
					<div class="col-12">
						<div class="header__content">
							<!-- header logo -->
							<a href="/" class="header__logo">
								<img src="{{ url_for('static', filename='img/CineShow.png') }}" alt="">
							</a>
							<!-- end header logo -->

							<!-- header nav -->
							<ul class="header__nav">
								<li class="header__nav-item">
									<a href="/" class="header__nav-link">Home</a>
								</li>
								<!-- end dropdown -->

								<li class="header__nav-item">
									<a href="/pricing" class="header__nav-link">Pricing Plan</a>
								</li>

								<li class="header__nav-item">
									<a href="/faq" class="header__nav-link">Help</a>
								</li>

								<li class="header__nav-item">
									<a href="/about" class="header__nav-link">About</a>
								</li>
							</ul>
							<!-- end header nav -->

							<!-- header auth -->
							<div class="header__auth">


								<a href="/logout" class="header__sign-in">
									<i class="icon ion-ios-log-in"></i>
									<span>sign out</span>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

	</header>
    <div class="booking-container">
        <header class="booking-header">
            <div>
                <img src="{{ url_for('static', filename='img/covers/mimi.jpg') }}" alt="movie-poster" class="booking-header__img" >
                <h2 class="booking-header__title">{{title}}</h2>
            </div>
            <h3 class="booking-header__total">0 Tickets</h3>
        </header>
        <h1 class="name">Screen</h1>
        </br><br>
        <div class="screen"></div>
        <section class="booking-legend">
            <div class="legend-key">
                <div class="seat seat-booked"></div>
                <h2>Booked</h2>
            </div>
            <div class="legend-key">
                <div class="seat seat-selected"></div>
                <h2>Selected</h2>
            </div>
            <div class="legend-key">
                <div class="seat seat-available"></div>
                <h2>Available</h2>
            </div>
        </section>
        <form method="POST" action="/book">
        <section class="seating">
            {% for j in range(1,13) %}
            <div class="row">
            {% for i in range(1,11) %}
            {% set b='0ABCDEFGHIJKLMNOPQRSTUVWXYZ'[j] %}
            {% set a=i | string() %}
            {% set b=b+a %}
            {% set check={'foo':True} %}

            {% for seat in seats %}
            {% if seat==b %}
            <div class="seat seat-booked {{b}}" >
            </div>
            {% if check.update({'foo': False}) %} {% endif %}
            {% endif %}
            {% endfor %}
            
            {% if check.foo %}
            <div class="seat seat-available {{b}}" >
                <input type="text" name="book" id="{{b}}" style="display: none" >
            </div>
            {% endif %}
            {% endfor %}
        </div>
        {% endfor %}
    </section>
    <input type="text" name="idshowing" value="{{idshowing}}" style="display: none;">
    <input type="text" id="priceinput" name="price" style="display: none;">
    <button type ="submit" class="payment-btn" >Pay ₹ 0.00</button>
       
       
</form>

<footer class="footer">
    <div class="container">
        <div class="row">
            <!-- footer list -->
            <div class="col-12 col-md-3">
                <h6 class="footer__title">Download Our App</h6>
                <ul class="footer__app">
                    <li><a href="#"><img src="{{ url_for('static', filename='img/Download_on_the_App_Store_Badge.svg') }}" alt=""></a></li>
                    <li><a href="#"><img src="{{ url_for('static', filename='img/google-play-badge.png') }}" alt=""></a></li>
                </ul>
            </div>
            <!-- end footer list -->

            <!-- footer list -->
            <div class="col-6 col-sm-4 col-md-3">
                <h6 class="footer__title">Resources</h6>
                <ul class="footer__list">
                    <li><a href="/about">About Us</a></li>
                    <li><a href="/pricing">Pricing Plan</a></li>
                    <li><a href="/faq">Help</a></li>
                </ul>
            </div>
            <!-- end footer list -->

            <!-- footer list -->
            <div class="col-6 col-sm-4 col-md-3">
                <h6 class="footer__title">Legal</h6>
                <ul class="footer__list">
                    <li><a href="#">Terms of Use</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                    <li><a href="#">Security</a></li>
                </ul>
            </div>
            <!-- end footer list -->

            <!-- footer list -->
            <div class="col-12 col-sm-4 col-md-3">
                <h6 class="footer__title">Contact</h6>
                <ul class="footer__list">
                    <li><a href="tel:+91 9011675787">+91 9011675787</a></li>
                    <li><a href="mailto:cse2000001028@iiti.ac.in">support@CineShow.com</a></li>
                </ul>
                <ul class="footer__social">
                    <li class="facebook"><a href="#"><i class="icon ion-logo-facebook"></i></a></li>
                    <li class="instagram"><a href="#"><i class="icon ion-logo-instagram"></i></a></li>
                    <li class="twitter"><a href="#"><i class="icon ion-logo-twitter"></i></a></li>
                    <li class="vk"><a href="#"><i class="icon ion-logo-vk"></i></a></li>
                </ul>
            </div>
            <!-- end footer list -->

            
        </div>
    </div>
</footer>
       
       
        <!-- <a href="{{ url_for('static', filename='./index.html') }}" class="back-btn">Back to homepage</a> -->
       
        <br><br>
    </div>
    <script src="{{ url_for('static', filename='js/booking.js') }}"></script>
</body>
</html>