<!doctype html>
<html lang="en">
 <head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css2?family=Acme&family=Roboto+Mono:wght@300;400&display=swap"
        rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css"
        integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog=="
        crossorigin="anonymous" />
		<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-reboot.min.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-grid.min.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/owl.carousel.min.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/jquery.mCustomScrollbar.min.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/nouislider.min.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/ionicons.min.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/plyr.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/photoswipe.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/default-skin.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

	<!-- Favicons -->
	<link rel="icon"  href="{{ url_for('static', filename='icon/favi.png') }}">

	<meta name="description" content="">
	<meta name="keywords" content="">
	<meta name="author" content="Dmitry Volkov">
  <link rel="stylesheet" href="{{ url_for('static', filename='./css/confirmation.css') }}">
  <title>Cine Show | Confirmation</title> 
 </head> 
 <body>
  
      
  <div class="container">
    <img src="{{ url_for('static', filename='./img/popcorn-svgrepo-com.svg') }}" alt="popcorn-img" class="confirmation__img">
   <span class="text1">Congratulations! </span> 
   <span class="text2">Your tickets have been booked.</span> 
   <span><a href="/" class="redirect-btn">Back to homepage</a></span>
  </div> 
  <canvas id="ujjwal"></canvas>


  <script src="{{ url_for('static', filename='js/confirmation.js') }}"></script> 
  <script src="{{ url_for('static', filename='js/jquery-3.3.1.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/owl.carousel.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/jquery.mousewheel.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/jquery.mCustomScrollbar.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/wNumb.js') }}"></script>
  <script src="{{ url_for('static', filename='js/nouislider.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/plyr.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/jquery.morelines.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/photoswipe.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/photoswipe-ui-default.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/main.js') }}"></script>
 
 </body>
</html>