<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Font -->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600%7CUbuntu:300,400,500,700" rel="stylesheet">

	<!-- CSS -->
	<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-reboot.min.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-grid.min.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/owl.carousel.min.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/jquery.mCustomScrollbar.min.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/nouislider.min.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/ionicons.min.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/plyr.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/photoswipe.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/default-skin.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

	<!-- Favicons -->
	<link rel="icon"  href="{{ url_for('static', filename='icon/favi.png') }}">

	<meta name="description" content="">
	<meta name="keywords" content="">
	
	<title>Cine Show – Online Movies, TV Shows & Cinema </title>

</head>
<body class="body">

	<!-- header -->
	<header class="header">
		<div class="header__wrap">
			<div class="container">
				<div class="row">
					<div class="col-12">
						<div class="header__content">
							<!-- header logo -->
							<a href="/" class="header__logo">
								<img src="{{ url_for('static', filename='img/CineShow.png') }}" alt="">
							</a>
							<!-- end header logo -->

							<!-- header nav -->
							<ul class="header__nav">
								<li class="header__nav-item">
									<a href="/" class="header__nav-link">Home</a>
								</li>
								<!-- end dropdown -->

								<li class="header__nav-item">
									<a href="/pricing" class="header__nav-link">Pricing Plan</a>
								</li>

								<li class="header__nav-item">
									<a href="/faq" class="header__nav-link">Help</a>
								</li>

								<li class="header__nav-item">
									<a href="/about" class="header__nav-link">About</a>
								</li>
							</ul>
							<!-- end header nav -->

							<!-- header auth -->
							<div class="header__auth">


								<a href="/login" class="header__sign-in">
									<i class="icon ion-ios-log-in"></i>
									<span>sign in</span>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

	</header>
	<!-- end header -->

	<!-- home -->
	<section class="home">
		<!-- home bg -->
		<div class="owl-carousel home__bg">
			<div class="item home__cover" data-bg="{{ url_for('static', filename='img/home/f9hdbg.jpg') }}" ></div>
			<div class="item home__cover" data-bg="{{ url_for('static', filename='img/home/mimi.webp') }}"></div>
			<div class="item home__cover" data-bg="{{ url_for('static', filename='img/home/thalaivihdbg.jpg') }}"></div>
			<div class="item home__cover" data-bg="{{ url_for('static', filename='img/home/haseendilrubahdbg.jpg') }}"></div>
			<div class="item home__cover" data-bg="{{ url_for('static', filename='img/home/shernihdbg.webp') }}"></div>
			<div class="item home__cover" data-bg="{{ url_for('static', filename='img/home/Dhanushdbg.webp') }}"></div>
			<div class="item home__cover" data-bg="{{ url_for('static', filename='img/home/Sainabg.jpg') }}"></div>
			<div class="item home__cover" data-bg="{{ url_for('static', filename='img/home/cooliebg.jpg') }}"></div>
			<div class="item home__cover" data-bg="{{ url_for('static', filename='img/home/Conjuringbg.jpg') }}"></div>
			<div class="item home__cover" data-bg="{{ url_for('static', filename='img/home/SooraraiPottruhdbg.jpg') }}"></div>
		</div>
		<!-- end home bg -->

		<div class="container">
			<div class="row">
				<div class="col-12">
					<h1 class="home__title"><b>NEW ITEMS</b> OF THIS SEASON</h1>

					<button class="home__nav home__nav--prev" type="button">
						<i class="icon ion-ios-arrow-round-back"></i>
					</button>
					<button class="home__nav home__nav--next" type="button">
						<i class="icon ion-ios-arrow-round-forward"></i>
					</button>
				</div>

				<div class="col-12">
					<div class="owl-carousel home__carousel">
						<div class="item">
							<!-- card -->
							<div class="card card--big">
								<div class="card__cover">
									<img src="{{ url_for('static', filename='img/covers/ff9.jpg') }}" alt="">
									<a href="/f9" class="card__play">
										<i class="icon ion-ios-play"></i>
									</a>
						    	</div>
								<div class="card__content">
									<h3 class="card__title"><a href="/f9">Fast and Furious 9</a></h3>
									<span class="card__category">
										<a href="#">Action</a>
										<a href="#">Adventure</a>
										<a href="#">Crime</a>
									</span>
									<span class="card__rate"><i class="icon ion-ios-star"></i>5.2</span>
								</div>
							</div>
							<!-- end card -->
						</div>

						<div class="item">
							<!-- card -->
							<div class="card card--big">
								<div class="card__cover">
									<img src="{{ url_for('static', filename='img/covers/mimi.jpg') }}" alt="">
									<a href="/mimi" class="card__play">
										<i class="icon ion-ios-play"></i>
									</a>
								</div>
								<div class="card__content">
									<h3 class="card__title"><a href="/mimi">Mimi</a></h3>
									<span class="card__category">
										<a href="#">Comedy</a>
										<a href="#">Drama</a>
									</span>
									<span class="card__rate"><i class="icon ion-ios-star"></i>8.0</span>
								</div>
							</div>
							<!-- end card -->
						</div>

						<div class="item">
							<!-- card -->
							<div class="card card--big">
								<div class="card__cover">
									<img src="{{ url_for('static', filename='img/covers/cover3.jpg') }}" alt="">
									<a href="/thailavi" class="card__play">
										<i class="icon ion-ios-play"></i>
									</a>
								</div>
								<div class="card__content">
									<h3 class="card__title"><a href="/thailavi">Thalaivii</a></h3>
									<span class="card__category">
										<a href="#">Biography</a>
										<a href="#">Drama</a>
									</span>
									<span class="card__rate"><i class="icon ion-ios-star"></i>6.1</span>
								</div>
							</div>
							<!-- end card -->
						</div>

						<div class="item">
							<!-- card -->
							<div class="card card--big">
								<div class="card__cover">
									<img src="{{ url_for('static', filename='img/covers/cover4.jpg') }}" alt="">
									<a href="/haseen" class="card__play">
										<i class="icon ion-ios-play"></i>
									</a>
								</div>
								<div class="card__content">
									<h3 class="card__title"><a href="/haseen">Haseen Dillruba</a></h3>
									<span class="card__category">
										<a href="#">Crime</a>
										<a href="#">Drama</a>
										<a href="#">Mystery</a>
					 			</span>
									<span class="card__rate"><i class="icon ion-ios-star"></i>6.9</span>
								</div>
							</div>
							<!-- end card -->
						</div>

						<div class="item">
							<!-- card -->
							<div class="card card--big">
								<div class="card__cover">
									<img src="{{ url_for('static', filename='img/covers/Sherni.jpg') }}" alt="">
									<a href="/sherni" class="card__play">
										<i class="icon ion-ios-play"></i>
									</a>
								</div>
								<div class="card__content">
									<h3 class="card__title"><a href="/sherni">Sherni</a></h3>
									<span class="card__category">
										<a href="#">Action</a>
										<a href="#">Adventure</a>
										<a href="#">Drama</a>
									</span>
									<span class="card__rate"><i class="icon ion-ios-star"></i>6.8</span>
								</div>
							</div>
							<!-- end card -->
						</div>

						<div class="item">
							<!-- card -->
							<div class="card card--big">
								<div class="card__cover">
									<img src="{{ url_for('static', filename='img/covers/Jagame_Thandhiram.jpg') }}" alt="">
									<a href="/jagame" class="card__play">
										<i class="icon ion-ios-play"></i>
									</a>
								</div>
								<div class="card__content">
									<h3 class="card__title"><a href="/jagame">Jagame Thandhiram</a></h3>
									<span class="card__category">
										<a href="#">Action</a>
										<a href="#">Crime</a>
										<a href="#">Drama</a>
									</span>
									<span class="card__rate"><i class="icon ion-ios-star"></i>6.0</span>
								</div>
							</div>
							<!-- end card -->
						</div>

						<div class="item">
							<!-- card -->
							<div class="card card--big">
								<div class="card__cover">
									<img src="{{ url_for('static', filename='img/covers/Saina.jpg') }}" alt="">
									<a href="/saina" class="card__play">
										<i class="icon ion-ios-play"></i>
									</a>
								</div>
								<div class="card__content">
									<h3 class="card__title"><a href="/saina">Saina</a></h3>
									<span class="card__category">
										<a href="#">Biography</a>
										<a href="#">Drama</a>
										<a href="#">Sport</a>
									</span>
									<span class="card__rate"><i class="icon ion-ios-star"></i>4.3</span>
								</div>
							</div>
							<!-- end card -->
						</div>

						<div class="item">
							<!-- card -->
							<div class="card card--big">
								<div class="card__cover">
									<img src="{{ url_for('static', filename='img/covers/Coolie_No._1.jpg') }}" alt="">
									<a href="/collie" class="card__play">
										<i class="icon ion-ios-play"></i>
									</a>
								</div>
								<div class="card__content">
									<h3 class="card__title"><a href="/collie">Coolie No. 1</a></h3>
									<span class="card__category">
										<a href="#">Comedy</a>
										<a href="#">Drama</a>
									</span>
									<span class="card__rate"><i class="icon ion-ios-star"></i>4.2</span>
								</div>
							</div>
							<!-- end card -->
						</div>

						<div class="item">
							<!-- card -->
							<div class="card card--big">
								<div class="card__cover">
									<img src="{{ url_for('static', filename='img/covers/The-Conjuring-The-Devil-Made-Me-Do-It.jpg') }}" alt="">
									<a href="/conjuring" class="card__play">
										<i class="icon ion-ios-play"></i>
									</a>
								</div>
								<div class="card__content">
									<h3 class="card__title"><a href="/conjuring">The The Conjuring: The Devil Made Me Do It</a></h3>
									<span class="card__category">
										<a href="#">Horror</a>
										<a href="#">Mystery</a>
										<a href="#">Thriller</a>
									</span>
									<span class="card__rate"><i class="icon ion-ios-star"></i>6.3</span>
								</div>
							</div>
							<!-- end card -->
						</div>

						<div class="item">
							<!-- card -->
							<div class="card card--big">
								<div class="card__cover">
									<img src="{{ url_for('static', filename='img/covers/sooraraipottru.jpg') }}" alt="">
									<a href="/soorarai" class="card__play">
										<i class="icon ion-ios-play"></i>
									</a>
								</div>
								<div class="card__content">
									<h3 class="card__title"><a href="/soorarai">Soorarai Pottru</a></h3>
									<span class="card__category">
										<a href="#">Drama</a>
									</span>
									<span class="card__rate"><i class="icon ion-ios-star"></i>9.1</span>
								</div>
							</div>
							<!-- end card -->
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- end home -->

	<!-- content -->
	<section class="content">
		<div class="content__head">
			<div class="container">
				<div class="row">
					<div class="col-12">
						<!-- content title -->
						<h2 class="content__title">New items</h2>
						<!-- end content title -->

						<!-- content tabs nav -->
						<ul class="nav nav-tabs content__tabs" id="content__tabs" role="tablist">
							<li class="nav-item">
								<a class="nav-link active" data-toggle="tab" href="#tab-1" role="tab" aria-controls="tab-1" aria-selected="true">NEW RELEASES</a>
							</li>

							<li class="nav-item">
								<a class="nav-link" data-toggle="tab" href="#tab-2" role="tab" aria-controls="tab-2" aria-selected="false">MOVIES</a>
							</li>

							<li class="nav-item">
								<a class="nav-link" data-toggle="tab" href="#tab-3" role="tab" aria-controls="tab-3" aria-selected="false">TV SERIES</a>
							</li>
						</ul>
						<!-- end content tabs nav -->

						<!-- content mobile tabs nav -->
						<div class="content__mobile-tabs" id="content__mobile-tabs">
							<div class="content__mobile-tabs-btn dropdown-toggle" role="navigation" id="mobile-tabs" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								<input type="button" value="New items">
								<span></span>
							</div>

							<div class="content__mobile-tabs-menu dropdown-menu" aria-labelledby="mobile-tabs">
								<ul class="nav nav-tabs" role="tablist">
									<li class="nav-item"><a class="nav-link active" id="1-tab" data-toggle="tab" href="#tab-1" role="tab" aria-controls="tab-1" aria-selected="true">NEW RELEASES</a></li>

									<li class="nav-item"><a class="nav-link" id="2-tab" data-toggle="tab" href="#tab-2" role="tab" aria-controls="tab-2" aria-selected="false">MOVIES</a></li>

									<li class="nav-item"><a class="nav-link" id="3-tab" data-toggle="tab" href="#tab-3" role="tab" aria-controls="tab-3" aria-selected="false">TV SERIES</a></li>
								</ul>
							</div>
						</div>
						<!-- end content mobile tabs nav -->
					</div>
				</div>
			</div>
		</div>

		<div class="container">
			<!-- content tabs -->
			<div class="tab-content" id="myTabContent">
				<div class="tab-pane fade show active" id="tab-1" role="tabpanel" aria-labelledby="1-tab">
					<div class="row">
						<!-- card -->
						<div class="col-6 col-sm-12 col-lg-6">
							<div class="card card--list">
								<div class="row">
									<div class="col-12 col-sm-4">
										<div class="card__cover">
											<img src="{{ url_for('static', filename='img/covers/Chehre.jpg') }}" alt="">
											<a href="/chehre" class="card__play">
												<i class="icon ion-ios-play"></i>
											</a>
										</div>
									</div>

									<div class="col-12 col-sm-8">
										<div class="card__content">
											<h3 class="card__title"><a href="/chehre">Chehre</a></h3>
											<span class="card__category">
												<a href="#">Drama</a>
												<a href="#">Mystery</a>
												<a href="#">Thriller</a>
											</span>

											<div class="card__wrap">
												<span class="card__rate"><i class="icon ion-ios-star"></i>6.7</span>

												<ul class="card__list">
													<li>HD</li>
													<li>16+</li>
												</ul>
											</div>

											<div class="card__description">
												<p>An ad agency executive takes shelter at an old man's home in the mountains amid a dangerous snow storm, but soon finds himself trapped with no way out when the man and his clan of veterans hook him for a game of crime and punishment.</p>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- end card -->

						<!-- card -->
						<div class="col-6 col-sm-12 col-lg-6">
							<div class="card card--list">
								<div class="row">
									<div class="col-12 col-sm-4">
										<div class="card__cover">
											<img src="{{ url_for('static', filename='img/covers/mimi.jpg') }}" alt="">
											<a href="/mimi" class="card__play">
												<i class="icon ion-ios-play"></i>
											</a>
										</div>
									</div>

									<div class="col-12 col-sm-8">
										<div class="card__content">
											<h3 class="card__title"><a href="/mimi">Mimi</a></h3>
											<span class="card__category">
												<a href="#">Comedy</a>
									            <a href="#">Drama</a>
											</span>

											<div class="card__wrap">
												<span class="card__rate"><i class="icon ion-ios-star"></i>8.0</span>

												<ul class="card__list">
													<li>HD</li>
													<li>16+</li>
												</ul>
											</div>

											<div class="card__description">
												<p>An aspiring actress in a small town agrees to bear a child for a visiting couple seeking a surrogate mother, but her experience takes unexpected turns.</p>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- end card -->

						<!-- card -->
						<div class="col-6 col-sm-12 col-lg-6">
							<div class="card card--list">
								<div class="row">
									<div class="col-12 col-sm-4">
										<div class="card__cover">
											<img src="{{ url_for('static', filename='img/covers/cover3.jpg') }}" alt="">
											<a href="/thailavi" class="card__play">
												<i class="icon ion-ios-play"></i>
											</a>
										</div>
									</div>

									<div class="col-12 col-sm-8">
										<div class="card__content">
											<h3 class="card__title"><a href="/thailavi">Thalaivii</a></h3>
											<span class="card__category">
												<a href="#">Biography</a>
												<a href="#">Drama</a>
												
											</span>

											<div class="card__wrap">
												<span class="card__rate"><i class="icon ion-ios-star"></i>6.1</span>

												<ul class="card__list">
													<li>HD</li>
													<li>16+</li>
												</ul>
											</div>

											<div class="card__description">
												<p>Following Jayalalithaa's inspiring life journey as she arrives as a young actress in the Tamil film industry. She reaches superstar status and eventually becomes Thalaivi- a powerful figure in the world of politics.</p>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- end card -->

						<!-- card -->
						<div class="col-6 col-sm-12 col-lg-6">
							<div class="card card--list">
								<div class="row">
									<div class="col-12 col-sm-4">
										<div class="card__cover">
											<img src="{{ url_for('static', filename='img/covers/cover4.jpg') }}" alt="">
											<a href="/haseen" class="card__play">
												<i class="icon ion-ios-play"></i>
											</a>
										</div>
									</div>

									<div class="col-12 col-sm-8">
										<div class="card__content">
											<h3 class="card__title"><a href="/haseen">Haseen Dillruba</a></h3>
											<span class="card__category">
												<a href="#">Crime</a>
												<a href="#">Drama</a>
												<a href="#">Mystery</a>
											</span>

											<div class="card__wrap">
												<span class="card__rate"><i class="icon ion-ios-star"></i>6.9</span>

												<ul class="card__list">
													<li>HD</li>
													<li>16+</li>
												</ul>
											</div>

											<div class="card__description">
												<p>Under investigation as a suspect in her husband's murder, a woman reveals details of their thorny marriage that seem to only further blur the truth.</p>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- end card -->

						<!-- card -->
						<div class="col-6 col-sm-12 col-lg-6">
							<div class="card card--list">
								<div class="row">
									<div class="col-12 col-sm-4">
										<div class="card__cover">
											<img src="{{ url_for('static', filename='img/covers/sooraraipottru.jpg') }}" alt="">
											<a href="/soorarai" class="card__play">
												<i class="icon ion-ios-play"></i>
											</a>
										</div>
									</div>

									<div class="col-12 col-sm-8">
										<div class="card__content">
											<h3 class="card__title"><a href="/soorarai">Soorarai Pottru</a></h3>
											<span class="card__category">
												<a href="#">Drama</a>
											</span>

											<div class="card__wrap">
												<span class="card__rate"><i class="icon ion-ios-star"></i>9.1</span>

												<ul class="card__list">
													<li>HD</li>
													<li>16+</li>
												</ul>
											</div>

											<div class="card__description">
												<p>Maara, a young man from a remote village, dreams of launching his own airline service. However, he must overcome several obstacles and challenges in order to be successful in his quest.</p>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- end card -->

						<!-- card -->
						<div class="col-6 col-sm-12 col-lg-6">
							<div class="card card--list">
								<div class="row">
									<div class="col-12 col-sm-4">
										<div class="card__cover">
											<img src="{{ url_for('static', filename='img/covers/Bell bottom.jpg') }}" alt="">
											<a href="/bell" class="card__play">
												<i class="icon ion-ios-play"></i>
											</a>
										</div>
									</div>

									<div class="col-12 col-sm-8">
										<div class="card__content">
											<h3 class="card__title"><a href="/bell">Bell Bottom</a></h3>
											<span class="card__category">
												<a href="#">Action</a>
												<a href="#">Thriller</a>
											</span>

											<div class="card__wrap">
												<span class="card__rate"><i class="icon ion-ios-star"></i>6.2</span>

												<ul class="card__list">
													<li>HD</li>
													<li>16+</li>
												</ul>
											</div>

											<div class="card__description">
												<p>An undercover agent code-named Bellbottom embarks on a covert mission to free 210 hostages held by hijackers.</p>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- end card -->
					</div>
				</div>

				<div class="tab-pane fade" id="tab-2" role="tabpanel" aria-labelledby="2-tab">
					<div class="row">
						<!-- card -->
						<div class="col-6 col-sm-4 col-lg-3 col-xl-2">
							<div class="card">
								<div class="card__cover">
									<img src="{{ url_for('static', filename='img/covers/shershahpp.jpg') }}" alt="">
									<a href="/shershah" class="card__play">
										<i class="icon ion-ios-play"></i>
									</a>
								</div>
								<div class="card__content">
									<h3 class="card__title"><a href="/shershah">Shershah</a></h3>
									<span class="card__category">
										<a href="#">Action</a>
										<a href="#">Biography</a>
										<a href="#">Drama</a>
									</span>
									<span class="card__rate"><i class="icon ion-ios-star"></i>8.7</span>
								</div>
							</div>
						</div>
						<!-- end card -->

						<!-- card -->
						<div class="col-6 col-sm-4 col-lg-3 col-xl-2">
							<div class="card">
								<div class="card__cover">
									<img src="{{ url_for('static', filename='img/covers/Bhuj.jpg') }}" alt="">
									<a href="/bhuj" class="card__play">
										<i class="icon ion-ios-play"></i>
									</a>
								</div>
								<div class="card__content">
									<h3 class="card__title"><a href="/bhuj">Bhuj: The Pride of India</a></h3>
									<span class="card__category">
										<a href="#">Action</a>
									    <a href="#">Drama</a>
										<a href="#">Hystory</a>
									</span>
									<span class="card__rate"><i class="icon ion-ios-star"></i>4.8</span>
								</div>
							</div>
						</div>
						<!-- end card -->

						<!-- card -->
						<div class="col-6 col-sm-4 col-lg-3 col-xl-2">
							<div class="card">
								<div class="card__cover">
									<img src="{{ url_for('static', filename='img/covers/Hungama2.jpg') }}" alt="">
									<a href="/hungama2" class="card__play">
										<i class="icon ion-ios-play"></i>
									</a>
								</div>
								<div class="card__content">
									<h3 class="card__title"><a href="/hungama2">Hungama 2</a></h3>
									<span class="card__category">
										<a href="#">Comedy</a>
									</span>
									<span class="card__rate"><i class="icon ion-ios-star"></i>3.1</span>
								</div>
							</div>
						</div>
						<!-- end card -->

						<!-- card -->
						<div class="col-6 col-sm-4 col-lg-3 col-xl-2">
							<div class="card">
								<div class="card__cover">
									<img src="{{ url_for('static', filename='img/covers/Radhe.jpg') }}" alt="">
									<a href="/radhe" class="card__play">
										<i class="icon ion-ios-play"></i>
									</a>
								</div>
								<div class="card__content">
									<h3 class="card__title"><a href="/radhe">Radhe</a></h3>
									<span class="card__category">
										<a href="#">Crime</a>
										<a href="#">Action</a>
										<a href="#">Thriller</a>
									</span>
									<span class="card__rate"><i class="icon ion-ios-star"></i>1.8</span>
								</div>
							</div>
						</div>
						<!-- end card -->

						<!-- card -->
						<div class="col-6 col-sm-4 col-lg-3 col-xl-2">
							<div class="card">
								<div class="card__cover">
									<img src="{{ url_for('static', filename='img/covers/Shiddat.jpg') }}" alt="">
									<a href="/shiddat" class="card__play">
										<i class="icon ion-ios-play"></i>
									</a>
								</div>
								<div class="card__content">
									<h3 class="card__title"><a href="/shiddat">Shiddat</a></h3>
									<span class="card__category">
										<a href="#">Romance</a>
									</span>
									<span class="card__rate"><i class="icon ion-ios-star"></i>8.0</span>
								</div>
							</div>
						</div>
						<!-- end card -->

						<!-- card -->
						<div class="col-6 col-sm-4 col-lg-3 col-xl-2">
							<div class="card">
								<div class="card__cover">
									<img src="{{ url_for('static', filename='img/covers/MumbaiSaga.jpg') }}" alt="">
									<a href="/mumbaisaga" class="card__play">
										<i class="icon ion-ios-play"></i>
									</a>
								</div>
								<div class="card__content">
									<h3 class="card__title"><a href="/mumbaisaga">Mumbai Saga</a></h3>
									<span class="card__category">
										<a href="#">Action</a>
										<a href="#">Crime</a>
									</span>
									<span class="card__rate"><i class="icon ion-ios-star"></i>6.0</span>
								</div>
							</div>
						</div>
						<!-- end card -->

						<!-- card -->
						<div class="col-6 col-sm-4 col-lg-3 col-xl-2">
							<div class="card">
								<div class="card__cover">
									<img src="{{ url_for('static', filename='img/covers/Ludo.jpg') }}" alt="">
									<a href="/ludo" class="card__play">
										<i class="icon ion-ios-play"></i>
									</a>
								</div>
								<div class="card__content">
									<h3 class="card__title"><a href="/ludo">Ludo</a></h3>
									<span class="card__category">
										<a href="#">Action</a>
										<a href="#">Comedy</a>
										<a href="#">Crime</a>
									</span>
									<span class="card__rate"><i class="icon ion-ios-star"></i>7.6</span>
								</div>
							</div>
						</div>
						<!-- end card -->

						<!-- card -->
						<div class="col-6 col-sm-4 col-lg-3 col-xl-2">
							<div class="card">
								<div class="card__cover">
									<img src="{{ url_for('static', filename='img/covers/Roohi.jpg') }}" alt="">
									<a href="/roohi" class="card__play">
										<i class="icon ion-ios-play"></i>
									</a>
								</div>
								<div class="card__content">
									<h3 class="card__title"><a href="/roohi">Roohi</a></h3>
									<span class="card__category">
										<a href="#">Comedy</a>
										<a href="#">Horror</a>
									</span>
									<span class="card__rate"><i class="icon ion-ios-star"></i>4.3</span>
								</div>
							</div>
						</div>
						<!-- end card -->

						<!-- card -->
						<div class="col-6 col-sm-4 col-lg-3 col-xl-2">
							<div class="card">
								<div class="card__cover">
									<img src="{{ url_for('static', filename='img/covers/HelloCharlie.jpg') }}" alt="">
									<a href="#" class="card__play">
										<i class="icon ion-ios-play"></i>
									</a>
								</div>
								<div class="card__content">
									<h3 class="card__title"><a href="/hellocharlie">Hello Charlie</a></h3>
									<span class="card__category">
										<a href="#">Comedy</a>
									</span>
									<span class="card__rate"><i class="icon ion-ios-star"></i>5.5</span>
								</div>
							</div>
						</div>
						<!-- end card -->

						<!-- card -->
						<div class="col-6 col-sm-4 col-lg-3 col-xl-2">
							<div class="card">
								<div class="card__cover">
									<img src="{{ url_for('static', filename='img/covers/IndooKiJawani.jpg') }}" alt="">
									<a href="#" class="card__play">
										<i class="icon ion-ios-play"></i>
									</a>
								</div>
								<div class="card__content">
									<h3 class="card__title"><a href="/indoo">Indoo ki Jawani</a></h3>
									<span class="card__category">
										<a href="#">Comedy</a>
										<a href="#">Drama</a>
									</span>
									<span class="card__rate"><i class="icon ion-ios-star"></i>3.0</span>
								</div>
							</div>
						</div>
						<!-- end card -->

						<!-- card -->
						<div class="col-6 col-sm-4 col-lg-3 col-xl-2">
							<div class="card">
								<div class="card__cover">
									<img src="{{ url_for('static', filename='img/covers/TommorrowWar.jpg') }}" alt="">
									<a href="#" class="card__play">
										<i class="icon ion-ios-play"></i>
									</a>
								</div>
								<div class="card__content">
									<h3 class="card__title"><a href="#">The Tommorrow War</a></h3>
									<span class="card__category">
										<a href="#">Action</a>
										<a href="#">Adventure</a>
										<a href="#">Drama</a>
									</span>
									<span class="card__rate"><i class="icon ion-ios-star"></i>6.6</span>
								</div>
							</div>
						</div>
						<!-- end card -->

						<!-- card -->
						<div class="col-6 col-sm-4 col-lg-3 col-xl-2">
							<div class="card">
								<div class="card__cover">
									<img src="{{ url_for('static', filename='img/covers/Reminiscence.jpg') }}" alt="">
									<a href="#" class="card__play">
										<i class="icon ion-ios-play"></i>
									</a>
								</div>
								<div class="card__content">
									<h3 class="card__title"><a href="#">Reminiscence</a></h3>
									<span class="card__category">
										<a href="#">Romance</a>
										<a href="#">Mystery</a>
										<a href="#">Sci-Fi</a>
									</span>
									<span class="card__rate"><i class="icon ion-ios-star"></i>5.9</span>
								</div>
							</div>
						</div>
						<!-- end card -->
					</div>
				</div>

				<div class="tab-pane fade" id="tab-3" role="tabpanel" aria-labelledby="3-tab">
					<div class="row">
						<!-- card -->
						<div class="col-6 col-sm-4 col-lg-3 col-xl-2">
							<div class="card">
								<div class="card__cover">
									<img src="{{ url_for('static', filename='img/covers/KotaFact2.jpg') }}" alt="">
									<a href="/kotafactory" class="card__play">
										<i class="icon ion-ios-play"></i>
									</a>
								</div>
								<div class="card__content">
									<h3 class="card__title"><a href="/kotafactory">Kota Factory</a></h3>
									<span class="card__category">
										<a href="#">Comedy</a>
										<a href="#">Drama</a>
									</span>
									<span class="card__rate"><i class="icon ion-ios-star"></i>9.2</span>
								</div>
							</div>
						</div>
						<!-- end card -->

						<!-- card -->
						<div class="col-6 col-sm-4 col-lg-3 col-xl-2">
							<div class="card">
								<div class="card__cover">
									<img src="{{ url_for('static', filename='img/covers/moneyheist5.jpg') }}" alt="">
									<a href="/moneyheist" class="card__play">
										<i class="icon ion-ios-play"></i>
									</a>
								</div>
								<div class="card__content">
									<h3 class="card__title"><a href="/moneyheist">Money Heist</a></h3>
									<span class="card__category">
										<a href="#">Drama</a>
										<a href="#">Action</a>
										<a href="#">Crime</a>
									</span>
									<span class="card__rate"><i class="icon ion-ios-star"></i>8.2</span>
								</div>
							</div>
						</div>
						<!-- end card -->

						<!-- card -->
						<div class="col-6 col-sm-4 col-lg-3 col-xl-2">
							<div class="card">
								<div class="card__cover">
									<img src="{{ url_for('static', filename='img/covers/Poster_of_Mirzapur_2018.jpg') }}" alt="">
									<a href="/mirzapur" class="card__play">
										<i class="icon ion-ios-play"></i>
									</a>
								</div>
								<div class="card__content">
									<h3 class="card__title"><a href="/mirzapur">Mirzapur</a></h3>
									<span class="card__category">
										<a href="#">Crime</a>
										<a href="#">Drama</a>
										<a href="#">Action</a>
									</span>
									<span class="card__rate"><i class="icon ion-ios-star"></i>8.5</span>
								</div>
							</div>
						</div>
						<!-- end card -->

						<!-- card -->
						<div class="col-6 col-sm-4 col-lg-3 col-xl-2">
							<div class="card">
								<div class="card__cover">
									<img src="{{ url_for('static', filename='img/covers/FamilyMan2.jpg') }}" alt="">
									<a href="/familyman" class="card__play">
										<i class="icon ion-ios-play"></i>
									</a>
								</div>
								<div class="card__content">
									<h3 class="card__title"><a href="/familyman">The Family Man</a></h3>
									<span class="card__category">
										<a href="#">Action</a>
										<a href="#">Drama</a>
										<a href="#">Comedy</a>
									</span>
									<span class="card__rate"><i class="icon ion-ios-star"></i>8.8</span>
								</div>
							</div>
						</div>
						<!-- end card -->

						<!-- card -->
						<div class="col-6 col-sm-4 col-lg-3 col-xl-2">
							<div class="card">
								<div class="card__cover">
									<img src="{{ url_for('static', filename='img/covers/Four_More_Shorta_Please_Poster.jpg') }}" alt="">
									<a href="/fourmoreshots" class="card__play">
										<i class="icon ion-ios-play"></i>
									</a>
								</div>
								<div class="card__content">
									<h3 class="card__title"><a href="/fourmoreshots">Four More Shots Please!</a></h3>
									<span class="card__category">
										<a href="#">Comedy</a>
										<a href="#">Drama</a>
										<a href="#">Romance</a>
									</span>
									<span class="card__rate"><i class="icon ion-ios-star"></i>6.4</span>
								</div>
							</div>
						</div>
						<!-- end card -->

						<!-- card -->
						<div class="col-6 col-sm-4 col-lg-3 col-xl-2">
							<div class="card">
								<div class="card__cover">
									<img src="{{ url_for('static', filename='img/covers/squid_game.webp') }}" alt="">
									<a href="/squidgames" class="card__play">
										<i class="icon ion-ios-play"></i>
									</a>
								</div>
								<div class="card__content">
									<h3 class="card__title"><a href="/squidgames">Squid Games</a></h3>
									<span class="card__category">
										<a href="#">Action</a>
										<a href="#">Mystery</a>
										<a href="#">Drama</a>
									</span>
									<span class="card__rate"><i class="icon ion-ios-star"></i>8.2</span>
								</div>
							</div>
						</div>
						<!-- end card -->

						<!-- card -->
						<div class="col-6 col-sm-4 col-lg-3 col-xl-2">
							<div class="card">
								<div class="card__cover">
									<img src="{{ url_for('static', filename='img/covers/Narcos.png') }}" alt="">
									<a href="/narcos" class="card__play">
										<i class="icon ion-ios-play"></i>
									</a>
								</div>
								<div class="card__content">
									<h3 class="card__title"><a href="/narcos">Narcos</a></h3>
									<span class="card__category">
										<a href="#">Biography</a>
										<a href="#">Crime</a>
										<a href="#">Drama</a>
									</span>
									<span class="card__rate"><i class="icon ion-ios-star"></i>8.8</span>
								</div>
							</div>
						</div>
						<!-- end card -->

						<!-- card -->
						<div class="col-6 col-sm-4 col-lg-3 col-xl-2">
							<div class="card">
								<div class="card__cover">
									<img src="{{ url_for('static', filename='img/covers/TO.jpg') }}" alt="">
									<a href="/theoriginals" class="card__play">
										<i class="icon ion-ios-play"></i>
									</a>
								</div>
								<div class="card__content">
									<h3 class="card__title"><a href="/theoriginals">The Originals</a></h3>
									<span class="card__category">
										<a href="#">Horror</a>
										<a href="#">Fantasy</a>
										<a href="#">Supernatural</a>
									</span>
									<span class="card__rate"><i class="icon ion-ios-star"></i>8.2</span>
								</div>
							</div>
						</div>
						<!-- end card -->

						<!-- card -->
						<div class="col-6 col-sm-4 col-lg-3 col-xl-2">
							<div class="card">
								<div class="card__cover">
									<img src="{{ url_for('static', filename='img/covers/Dark.jpg') }}" alt="">
									<a href="/dark" class="card__play">
										<i class="icon ion-ios-play"></i>
									</a>
								</div>
								<div class="card__content">
									<h3 class="card__title"><a href="/dark">Dark</a></h3>
									<span class="card__category">
										<a href="#">Crime</a>
										<a href="#">Drama</a>
										<a href="#">Mystery</a>
									</span>
									<span class="card__rate"><i class="icon ion-ios-star"></i>8.8</span>
								</div>
							</div>
						</div>
						<!-- end card -->

						<!-- card -->
						<div class="col-6 col-sm-4 col-lg-3 col-xl-2">
							<div class="card">
								<div class="card__cover">
									<img src="{{ url_for('static', filename='img/covers/Sacredgames.jpg') }}" alt="">
									<a href="/sacredgames" class="card__play">
										<i class="icon ion-ios-play"></i>
									</a>
								</div>
								<div class="card__content">
									<h3 class="card__title"><a href="/sacredgames">Sacred Games</a></h3>
									<span class="card__category">
										<a href="#">Action</a>
										<a href="#">Crime</a>
										<a href="#">Drama</a>
									</span>
									<span class="card__rate"><i class="icon ion-ios-star"></i>8.6</span>
								</div>
							</div>
						</div>
						<!-- end card -->

						<!-- card -->
						<div class="col-6 col-sm-4 col-lg-3 col-xl-2">
							<div class="card">
								<div class="card__cover">
									<img src="{{ url_for('static', filename='img/covers/Scam.jpg') }}" alt="">
									<a href="/scam" class="card__play">
										<i class="icon ion-ios-play"></i>
									</a>
								</div>
								<div class="card__content">
									<h3 class="card__title"><a href="/scam">Scam 1992</a></h3>
									<span class="card__category">
										<a href="#">Biography</a>
										<a href="#">Drama</a>
										<a href="#">Crime</a>
									</span>
									<span class="card__rate"><i class="icon ion-ios-star"></i>9.5</span>
								</div>
							</div>
						</div>
						<!-- end card -->

						<!-- card -->
						<div class="col-6 col-sm-4 col-lg-3 col-xl-2">
							<div class="card">
								<div class="card__cover">
									<img src="{{ url_for('static', filename='img/covers/paatal lok.jpg') }}" alt="">
									<a href="/patallok" class="card__play">
										<i class="icon ion-ios-play"></i>
									</a>
								</div>
								<div class="card__content">
									<h3 class="card__title"><a href="/patallok">Paatal Lok</a></h3>
									<span class="card__category">
										<a href="#">Crime</a>
										<a href="#">Drama</a>
										<a href="#">Thriller</a>
									</span>
									<span class="card__rate"><i class="icon ion-ios-star"></i>7.8</span>
								</div>
							</div>
						</div>
						<!-- end card -->
					</div>
				</div>
			</div>
			<!-- end content tabs -->
		</div>
	</section>
	<!-- end content -->

	<!-- expected premiere -->
	<section class="section section--bg" data-bg="{{ url_for('static', filename='img/section/section.jpg') }}') }}">
		<div class="container">
			<div class="row">
				<!-- section title -->
				<div class="col-12">
					<h2 class="section__title">Expected premiere</h2>
				</div>
				<!-- end section title -->

				<!-- card -->
				<div class="col-6 col-sm-4 col-lg-3 col-xl-2">
					<div class="card">
						<div class="card__cover">
							<img src="{{ url_for('static', filename='img/covers/Sooryavanshi_film_poster.jpg') }}" alt="">
							<a href="#" class="card__play">
								<i class="icon ion-ios-play"></i>
							</a>
						</div>
						<div class="card__content">
							<h3 class="card__title"><a href="#">Sooryavanshi</a></h3>
							<span class="card__category">
								<a href="#">Action</a>
								<a href="#">Crime</a>
								<a href="#">Triler</a>
							</span>
							<span class="card__rate"><i class="icon ion-ios-star"></i>--</span>
						</div>
					</div>
				</div>
				<!-- end card -->

				<!-- card -->
				<div class="col-6 col-sm-4 col-lg-3 col-xl-2">
					<div class="card">
						<div class="card__cover">
							<img src="{{ url_for('static', filename='img/covers/SardarUdhamSingh.jpeg') }}" alt="">
							<a href="#" class="card__play">
								<i class="icon ion-ios-play"></i>
							</a>
						</div>
						<div class="card__content">
							<h3 class="card__title"><a href="#">Sardar Udham Singh</a></h3>
							<span class="card__category">
								<a href="#">Biography</a>
								<a href="#">Crime</a>
								<a href="#">Drama</a>
							<span class="card__rate"><i class="icon ion-ios-star"></i>--</span>
						</div>
					</div>
				</div>
				<!-- end card -->

				<!-- card -->
				<div class="col-6 col-sm-4 col-lg-3 col-xl-2">
					<div class="card">
						<div class="card__cover">
							<img src="{{ url_for('static', filename='img/covers/House_of_the_Dragon_logo.jpg') }}" alt="">
							<a href="#" class="card__play">
								<i class="icon ion-ios-play"></i>
							</a>
						</div>
						<div class="card__content">
							<h3 class="card__title"><a href="#">House Of The Dragons</a></h3>
							<span class="card__category">
								<a href="#">Action</a>
								<a href="#">Adventure</a>
								<a href="#">Drama</a>
							</span>
							<span class="card__rate"><i class="icon ion-ios-star"></i>--</span>
						</div>
					</div>
				</div>
				<!-- end card -->

				<!-- card -->
				<div class="col-6 col-sm-4 col-lg-3 col-xl-2">
					<div class="card">
						<div class="card__cover">
							<img src="{{ url_for('static', filename='img/covers/Eternals.jpeg') }}" alt="">
							<a href="#" class="card__play">
								<i class="icon ion-ios-play"></i>
							</a>
						</div>
						<div class="card__content">
							<h3 class="card__title"><a href="#">Eternals</a></h3>
							<span class="card__category">
								<a href="#">Action</a>
								<a href="#">Adventure</a>
								<a href="#">Drama</a>
							</span>
							<span class="card__rate"><i class="icon ion-ios-star"></i>--</span>
						</div>
					</div>
				</div>
				<!-- end card -->

				<!-- card -->
				<div class="col-6 col-sm-4 col-lg-3 col-xl-2">
					<div class="card">
						<div class="card__cover">
							<img src="{{ url_for('static', filename='img/covers/RamSetu.jpg') }}" alt="">
							<a href="#" class="card__play">
								<i class="icon ion-ios-play"></i>
							</a>
						</div>
						<div class="card__content">
							<h3 class="card__title"><a href="#">Ram Setu</a></h3>
							<span class="card__category">
								<a href="#">Drama</a>
							</span>
							<span class="card__rate"><i class="icon ion-ios-star"></i>--</span>
						</div>
					</div>
				</div>
				<!-- end card -->

				<!-- card -->
				<div class="col-6 col-sm-4 col-lg-3 col-xl-2">
					<div class="card">
						<div class="card__cover">
							<img src="{{ url_for('static', filename='img/covers/Laal_Singh_Chaddha.jpg') }}" alt="">
							<a href="#" class="card__play">
								<i class="icon ion-ios-play"></i>
							</a>
						</div>
						<div class="card__content">
							<h3 class="card__title"><a href="#">Laal Singh Chaddha</a></h3>
							<span class="card__category">
								<a href="#">Comedy</a>
								<a href="#">Drama</a>
								<a href="#">War</a>
							</span>
							<span class="card__rate"><i class="icon ion-ios-star"></i>--</span>
						</div>
					</div>
				</div>
				<!-- end card -->

                <!-- card -->
				<div class="col-6 col-sm-4 col-lg-3 col-xl-2">
					<div class="card">
						<div class="card__cover">
							<img src="{{ url_for('static', filename='img/covers/Brahmastra.jpg') }}" alt="">
							<a href="#" class="card__play">
								<i class="icon ion-ios-play"></i>
							</a>
						</div>
						<div class="card__content">
							<h3 class="card__title"><a href="#">Brahmastra</a></h3>
							<span class="card__category">
								<a href="#">Action</a>
								<a href="#">Adventure</a>
								<a href="#">Fantasy</a>
							</span>
							<span class="card__rate"><i class="icon ion-ios-star"></i>--</span>
						</div>
					</div>
				</div>
				<!-- end card -->

				<!-- section btn -->
				<div class="col-12">
					<a href="#" class="section__btn">Show more</a>
				</div>
				<!-- end section btn -->
			</div>
		</div>
	</section>
	<!-- end expected premiere -->

	<!-- partners -->
	

	<!-- footer -->
	<footer class="footer">
		<div class="container">
			<div class="row">
				<!-- footer list -->
				<div class="col-12 col-md-3">
					<h6 class="footer__title">Download Our App</h6>
					<ul class="footer__app">
						<li><a href="#"><img src="{{ url_for('static', filename='img/Download_on_the_App_Store_Badge.svg') }}" alt=""></a></li>
						<li><a href="#"><img src="{{ url_for('static', filename='img/google-play-badge.png') }}" alt=""></a></li>
					</ul>
				</div>
				<!-- end footer list -->

				<!-- footer list -->
				<div class="col-6 col-sm-4 col-md-3">
					<h6 class="footer__title">Resources</h6>
					<ul class="footer__list">
						<li><a href="/about">About Us</a></li>
						<li><a href="/pricing">Pricing Plan</a></li>
						<li><a href="/faq">Help</a></li>
					</ul>
				</div>
				<!-- end footer list -->

				<!-- footer list -->
				<div class="col-6 col-sm-4 col-md-3">
					<h6 class="footer__title">Legal</h6>
					<ul class="footer__list">
						<li><a href="#">Terms of Use</a></li>
						<li><a href="#">Privacy Policy</a></li>
						<li><a href="#">Security</a></li>
					</ul>
				</div>
				<!-- end footer list -->

				<!-- footer list -->
				<div class="col-12 col-sm-4 col-md-3">
					<h6 class="footer__title">Contact</h6>
					<ul class="footer__list">
						<li><a href="tel:+91 9011675787">+91 9011675787</a></li>
						<li><a href="mailto:cse2000001028@iiti.ac.in">support@CineShow.com</a></li>
					</ul>
					<ul class="footer__social">
						<li class="facebook"><a href="#"><i class="icon ion-logo-facebook"></i></a></li>
						<li class="instagram"><a href="#"><i class="icon ion-logo-instagram"></i></a></li>
						<li class="twitter"><a href="#"><i class="icon ion-logo-twitter"></i></a></li>
						<li class="vk"><a href="#"><i class="icon ion-logo-vk"></i></a></li>
					</ul>
				</div>
				<!-- end footer list -->

				
			</div>
		</div>
	</footer>
	<!-- end footer -->

	<!-- JS -->
	<script src="{{ url_for('static', filename='js/jquery-3.3.1.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/owl.carousel.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/jquery.mousewheel.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/jquery.mCustomScrollbar.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/wNumb.js') }}"></script>
	<script src="{{ url_for('static', filename='js/nouislider.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/plyr.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/jquery.morelines.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/photoswipe.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/photoswipe-ui-default.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>

</html>