<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Font -->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600%7CUbuntu:300,400,500,700" rel="stylesheet"> 

	<!-- CSS -->
	<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-reboot.min.css')}}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-grid.min.css')}}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/owl.carousel.min.css')}}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/jquery.mCustomScrollbar.min.css')}}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/nouislider.min.css')}}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/ionicons.min.css')}}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/plyr.css')}}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/photoswipe.css')}}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/default-skin.css')}}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css')}}">

	<!-- Favicons -->
	<link rel="icon"  href="{{ url_for('static', filename='icon/favi.png') }}">

	<meta name="description" content="">
	<meta name="keywords" content="">
	<meta name="author" content="Dmitry Volkov">
	<title>Cine Show – Online Movies, TV Shows & Cinema </title>

</head>
<body class="body">
	
	<!-- header -->
	<header class="header">
		<div class="header__wrap">
			<div class="container">
				<div class="row">
					<div class="col-12">
						<div class="header__content">
							<!-- header logo -->
							<a href="/" class="header__logo">
								<img src="{{ url_for('static', filename='img/CineShow.png') }}" alt="">
							</a>
							<!-- end header logo -->

							<!-- header nav -->
							<ul class="header__nav">
								<li class="header__nav-item">
									<a href="/" class="header__nav-link">Home</a>
								</li>
								<!-- end dropdown -->

								<li class="header__nav-item">
									<a href="/pricing" class="header__nav-link">Pricing Plan</a>
								</li>

								<li class="header__nav-item">
									<a href="/faq" class="header__nav-link">Help</a>
								</li>

								<li class="header__nav-item">
									<a href="/about" class="header__nav-link">About</a>
								</li>
							</ul>
							<!-- end header nav -->

							<!-- header auth -->
							<div class="header__auth">


								<a href="/login" class="header__sign-in">
									<i class="icon ion-ios-log-in"></i>
									<span>sign in</span>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

	</header>
	<!-- end header -->

	<!-- details -->
	<section class="section details">
		<!-- details background -->
		<div class="details__bg" data-bg="{{ url_for('static', filename='img/home/Narcoshdbg.jpg') }}"></div>
		<!-- end details background -->

		<!-- details content -->
		<div class="container">
			<div class="row">
				<!-- title -->
				<div class="col-12">
					<h1 class="details__title">Narcos</h1>
				</div>
				<!-- end title -->

				<!-- content -->
				<div class="col-10">
					<div class="card card--details card--series">
						<div class="row">
							<!-- card cover -->
							<div class="col-12 col-sm-4 col-md-4 col-lg-3 col-xl-3">
								<div class="card__cover">
									<img src="{{ url_for('static', filename='img/covers/Narcos.png') }}" alt="">
								</div>
							</div>
							<!-- end card cover -->

							<!-- card content -->
							<div class="col-12 col-sm-8 col-md-8 col-lg-9 col-xl-9">
								<div class="card__content">
									<div class="card__wrap">
										<span class="card__rate"><i class="icon ion-ios-star"></i>8.8</span>

										<ul class="card__list">
											<li>HD</li>
											<li>16+</li>
										</ul>
									</div>

									<ul class="card__meta">
										<li><span>Genre:</span> <a href="#">Biography</a><a href="#">Crime</a><a href="#">Drama</a></li>
										<li><span>Release year:</span> 2015-2017</li>
										<li><span>Number of Season:</span> 3</li>
										<li><span>Country:</span> <a href="#">USA</a></li>
									</ul>

									<div class="card__description card__description--details">
										Narcos tells the true-life story of the growth and spread of cocaine drug cartels across the globe and attendant efforts of law enforcement to meet them head on in brutal, bloody conflict. It centers around the notorious Colombian cocaine kingpin Pablo Escobar (Wagner Moura) and Steve Murphy (Holbrook), a DEA agent sent to Colombia on a U.S. mission to capture him and ultimately kill him.
									</div>
								</div>
							</div>
							<!-- end card content -->
						</div>
					</div>
				</div>
				<!-- end content -->

				<!-- player -->
				
				<div class="col-12 col-xl-6">
					<div class="plyr__video-embed" id="player">
						<iframe
						  src="https://www.youtube.com/embed/xl8zdCY-abw?origin=https://plyr.io&amp;iv_load_policy=3&amp;modestbranding=1&amp;playsinline=1&amp;showinfo=0&amp;rel=0&amp;enablejsapi=1"
						  allowfullscreen
						  allowtransparency
						  allow="autoplay"
						></iframe>
					  </div>
				</div>
				<!-- end player -->

				<!-- accordion -->
				<div class="col-12 col-xl-6">
					<div class="accordion" id="accordion">
						<div class="accordion__card">
							<div class="card-header" id="headingOne">
								<button type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
									<span>Season: 1</span>
									<span>10 Episodes on 28 August 2015</span>
								</button>
							</div>

							<div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
								<div class="card-body">
									<table class="accordion__list">
										<thead>
											<tr>
												<th>#</th>
												<th>Title</th>
												<th>Air Date</th>
											</tr>
										</thead>

										<tbody>
											<tr>
												<th>1</th>
												<td>Descenso</td>
												<td>Friday, 28 August 2015</td>
											</tr>
											<tr>
												<th>2</th>
												<td>The Sword of Simón Bolivar</td>
												<td>Friday, 28 August 2015</td>
											</tr>
											<tr>
												<th>3</th>
												<td>The Men of Always</td>
												<td>Friday, 28 August 2015</td>
											</tr>
											<tr>
												<th>4</th>
												<td>The Palace in Flames</td>
												<td>Friday, 28 August 2015</td>
											</tr>
											<tr>
												<th>5</th>
												<td>There Will Be a Future</td>
												<td>Friday, 28 August 2015</td>
											</tr>
                                            <tr>
												<th>6</th>
												<td>Explosivos</td>
												<td>Friday, 28 August 2015</td>
											</tr>
                                            <tr>
												<th>7</th>
												<td>You Will Cry Tears of Blood</td>
												<td>Friday, 28 August 2015</td>
											</tr>
                                            <tr>
												<th>8</th>
												<td>La Gran Mentira</td>
												<td>Friday, 28 August 2015</td>
											</tr>
                                            <tr>
												<th>9</th>
												<td>La Catedral</td>
												<td>Friday, 28 August 2015</td>
											</tr>
                                            <tr>
												<th>10</th>
												<td>Despegue</td>
												<td>Friday, 28 August 2015</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>

						<div class="accordion__card">
							<div class="card-header" id="headingTwo">
								<button class="collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
									<span>Season: 2</span>
									<span>10 Episodes on 2 September 2016</span>
								</button>
							</div>

							<div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
								<div class="card-body">
									<table class="accordion__list">
										<thead>
											<tr>
												<th>#</th>
												<th>Title</th>
												<th>Air Date</th>
											</tr>
										</thead>

										<tbody>
											<tr>
												<th>1</th>
												<td>Free at Last</td>
												<td>Friday, 2 September 2016</td>
											</tr>
											<tr>
												<th>2</th>
												<td>Cambalache</td>
												<td>Friday, 2 September 2016</td>
											</tr>
											<tr>
												<th>3</th>
												<td>Our Man in Madrid</td>
												<td>Friday, 2 September 2016</td>
											</tr>
											<tr>
												<th>4</th>
												<td>The Good, the Bad, and the Dead</td>
												<td>Friday, 9 September 2020</td>
											</tr>
											<tr>
												<th>5</th>
												<td>The Enemies of My Enemy</td>
												<td>Friday, 16 September 2020</td>
											</tr>
                                            <tr>
												<th>6</th>
												<td>Los Pepes</td>
												<td>Friday, 2 September 2016</td>
											</tr>
                                            <tr>
												<th>7</th>
												<td>Deutschland 93</td>
												<td>Friday, 2 September 2016</td>
											</tr>
                                            <tr>
												<th>8</th>
												<td>Exit El Patrón</td>
												<td>Friday, 2 September 2016</td>
											</tr>
                                            <tr>
												<th>9</th>
												<td>Nuestra Finca</td>
												<td>Friday, 2 September 2016</td>
											</tr>
                                            <tr>
												<th>10</th>
												<td>Al Fin Cayó!</td>
												<td>Friday, 2 September 2016</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>

                        <div class="accordion__card">
							<div class="card-header" id="headingThree">
								<button class="collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
									<span>Season: 3</span>
									<span>10 Episodes on 1 September 2017</span>
								</button>
							</div>

							<div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
								<div class="card-body">
									<table class="accordion__list">
										<thead>
											<tr>
												<th>#</th>
												<th>Title</th>
												<th>Air Date</th>
											</tr>
										</thead>

										<tbody>
											<tr>
												<th>1</th>
												<td>The Kingpin Strategy</td>
												<td>Friday, 1 September 2017</td>
											</tr>
											<tr>
												<th>2</th>
												<td>The Cali KGB</td>
												<td>Friday, 1 September 2017</td>
											</tr>
											<tr>
												<th>3</th>
												<td>Follow the Money</td>
												<td>Friday, 1 September 2017</td>
											</tr>
											<tr>
												<th>4</th>
												<td>Checkmate</td>
												<td>Friday, 1 September 2017</td>
											</tr>
											<tr>
												<th>5</th>
												<td>MRO</td>
												<td>Friday, 1 September 2020</td>
											</tr>
                                            <tr>
												<th>6</th>
												<td>Best Laid Plans</td>
												<td>Friday, 1 September 2017</td>
											</tr>
                                            <tr>
												<th>7</th>
												<td>Sin Salida</td>
												<td>Friday, 1 September 2017</td>
											</tr>
                                            <tr>
												<th>8</th>
												<td>Convivir</td>
												<td>Friday, 1 September 2017</td>
											</tr>
                                            <tr>
												<th>9</th>
												<td>Todos Los Hombres del Presidente</td>
												<td>Friday, 1 September 2017</td>
											</tr>
                                            <tr>
												<th>10</th>
												<td>Going Back to Cali</td>
												<td>Friday, 1 September 2017</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- end accordion -->

				<!--Ticket-->
				<div>
					<a href="#" class="watch-now">Watch Now</a>
				</div>
				<!--end Ticket-->

				<div class="col-12">
					<div class="details__wrap">
						<!-- availables -->
						<div class="details__devices">
							<span class="details__devices-title">Available on devices:</span>
							<ul class="details__devices-list">
								<li><i class="icon ion-logo-apple"></i><span>IOS</span></li>
								<li><i class="icon ion-logo-android"></i><span>Android</span></li>
								<li><i class="icon ion-logo-windows"></i><span>Windows</span></li>
								<li><i class="icon ion-md-tv"></i><span>Smart TV</span></li>
							</ul>
						</div>
						<!-- end availables -->

						<!-- share -->
						<div class="details__share">
							<span class="details__share-title">Share with friends:</span>

							<ul class="details__share-list">
								<li class="facebook"><a href="#"><i class="icon ion-logo-facebook"></i></a></li>
								<li class="instagram"><a href="#"><i class="icon ion-logo-instagram"></i></a></li>
								<li class="twitter"><a href="#"><i class="icon ion-logo-twitter"></i></a></li>
								<li class="vk"><a href="#"><i class="icon ion-logo-vk"></i></a></li>
							</ul>
						</div>
						<!-- end share -->
					</div>
				</div>
			</div>
		</div>
		<!-- end details content -->
	</section>
	<!-- end details -->

	<!-- content -->
	<section class="content">
		<div class="content__head">
			<div class="container">
				<div class="row">
					<div class="col-12">
						<!-- content title -->
						<h2 class="content__title">Discover</h2>
						<!-- end content title -->

						<!-- content tabs nav -->
						<ul class="nav nav-tabs content__tabs" id="content__tabs" role="tablist">
							<li class="nav-item">
								<a class="nav-link active" data-toggle="tab" href="#tab-1" role="tab" aria-controls="tab-1" aria-selected="true">Comments</a>
							</li>

							<li class="nav-item">
								<a class="nav-link" data-toggle="tab" href="#tab-2" role="tab" aria-controls="tab-2" aria-selected="false">Reviews</a>
							</li>

							<li class="nav-item">
								<a class="nav-link" data-toggle="tab" href="#tab-3" role="tab" aria-controls="tab-3" aria-selected="false">Photos</a>
							</li>
						</ul>
						<!-- end content tabs nav -->

						<!-- content mobile tabs nav -->
						<div class="content__mobile-tabs" id="content__mobile-tabs">
							<div class="content__mobile-tabs-btn dropdown-toggle" role="navigation" id="mobile-tabs" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								<input type="button" value="Comments">
								<span></span>
							</div>

							<div class="content__mobile-tabs-menu dropdown-menu" aria-labelledby="mobile-tabs">
								<ul class="nav nav-tabs" role="tablist">
									<li class="nav-item"><a class="nav-link active" id="1-tab" data-toggle="tab" href="#tab-1" role="tab" aria-controls="tab-1" aria-selected="true">Comments</a></li>

									<li class="nav-item"><a class="nav-link" id="2-tab" data-toggle="tab" href="#tab-2" role="tab" aria-controls="tab-2" aria-selected="false">Reviews</a></li>

									<li class="nav-item"><a class="nav-link" id="3-tab" data-toggle="tab" href="#tab-3" role="tab" aria-controls="tab-3" aria-selected="false">Photos</a></li>
								</ul>
							</div>
						</div>
						<!-- end content mobile tabs nav -->
					</div>
				</div>
			</div>
		</div>

		<div class="container">
			<div class="row">
				<div class="col-12 col-lg-8 col-xl-8">
					<!-- content tabs -->
					<div class="tab-content" id="myTabContent">
						<div class="tab-pane fade show active" id="tab-1" role="tabpanel" aria-labelledby="1-tab">
							<div class="row">
								<!-- comments -->
								<div class="col-12">
									<div class="comments">
										<ul class="comments__list">
											<li class="comments__item">
												<div class="comments__autor">
													<img class="comments__avatar" src="{{ url_for('static', filename='img/Harsh Verma.jpg') }}" alt="">
													<span class="comments__name">Harsh Verma</span>
													<span class="comments__time">02.08.2018, 15:24</span>
												</div>
												<p class="comments__text">The actor playing Pablo, had to learn Spanish from scratch before playing the role. Now thats impressive</p>
												<div class="comments__actions">
													<div class="comments__rate">
														<button type="button"><i class="icon ion-md-thumbs-up"></i>74</button>

														<button type="button">13<i class="icon ion-md-thumbs-down"></i></button>
													</div>
													
													<button type="button"><i class="icon ion-ios-share-alt"></i>Reply</button>
													<button type="button"><i class="icon ion-ios-quote"></i>Quote</button>
												</div>
											</li>

											<li class="comments__item">
												<div class="comments__autor">
													<img class="comments__avatar" src="{{ url_for('static', filename='img/Aditya.jpeg') }}" alt="">
													<span class="comments__name">Aditya Deshmukh</span>
													<span class="comments__time">30.08.2018, 17:53</span>
												</div>
												<p class="comments__text">Nothing beats first 2 seasons of Narcos</p>
												<div class="comments__actions">
													<div class="comments__rate">
														<button type="button"><i class="icon ion-md-thumbs-up"></i>12</button>

														<button type="button">7<i class="icon ion-md-thumbs-down"></i></button>
													</div>

													<button type="button"><i class="icon ion-ios-share-alt"></i>Reply</button>
													<button type="button"><i class="icon ion-ios-quote"></i>Quote</button>
												</div>
											</li>

											<li class="comments__item">
												<div class="comments__autor">
													<img class="comments__avatar" src="{{ url_for('static', filename='img/Gaurav.jpg') }}" alt="">
													<span class="comments__name">Gaurav Gill</span>
													<span class="comments__time">07.08.2018, 14:33</span>
												</div>
												<p class="comments__text">I know Pablo was a pretty bad dude overall, but they really make it hard for you to hate him in this show.</p>
												<div class="comments__actions">
													<div class="comments__rate">
														<button type="button"><i class="icon ion-md-thumbs-up"></i>99</button>

														<button type="button">35<i class="icon ion-md-thumbs-down"></i></button>
													</div>

													<button type="button"><i class="icon ion-ios-share-alt"></i>Reply</button>
													<button type="button"><i class="icon ion-ios-quote"></i>Quote</button>
												</div>
											</li>

										</ul>

										<form action="#" class="form">
											<textarea id="text" name="text" class="form__textarea" placeholder="Add comment"></textarea>
											<button type="button" class="form__btn">Send</button>
										</form>
									</div>
								</div>
								<!-- end comments -->
							</div>
						</div>

						<div class="tab-pane fade" id="tab-2" role="tabpanel" aria-labelledby="2-tab">
							<div class="row">
								<!-- reviews -->
								<div class="col-12">
									<div class="reviews">
										<ul class="reviews__list">
											<li class="reviews__item">
												<div class="reviews__autor">
													<img class="reviews__avatar" src="{{ url_for('static', filename='img/instadp__maniratnnparakh01_full_size.jpg') }}" alt="">
													<span class="reviews__name">It's going to be ''The Hit'' . Beautiful after 3 episodes .</span>
													<span class="reviews__time">24.08.2018, 17:53 by Maniratnn Parakh</span>

													<span class="reviews__rating"><i class="icon ion-ios-star"></i>10.0</span>
												</div>
												<p class="reviews__text">It's beautiful , this's the way TV-series should be directed and produced, i loved the fast pace of the series from the first minute till now i haven't skipped anything or felt bored.

                                                    The narration way of the story from the first beginning adds another depth to the story.
                                                    
                                                    It shows you scenes from the future then gets to the present to elaborate how we reached that point .
                                                    
                                                    The cast is great , probably you haven't seen anyone of them before , but sure as hell they can act , they are able to deliver the feeling they have so you can interact with them .
                                                    
                                                    Simply , a masterpiece .
                                                    
                                                    P.S : Netflix has always been picky about its series, that''s why it's my favorite network.
                                                    
                                                    </p>
											</li>

											<li class="reviews__item">
												<div class="reviews__autor">
													<img class="reviews__avatar" src="{{ url_for('static', filename='img/IMG_20210622_194530_220.jpg') }}" alt="">
                                                    <span class="reviews__name">A dramatized account of the rise and fall of the Colombian drug cartels</span>
													<span class="reviews__time">24.08.2018, 17:53 by Pranjali Ghavale</span>

													<span class="reviews__rating"><i class="icon ion-ios-star"></i>7.0</span>
												</div>
												<p class="reviews__text">This Netflix series charts the rise and fall of the Colombian drug lords as their power increases as they earn billions of US dollars supplying the United States with cocaine and the actions of the DEA as they try to bring them to justice. The first two seasons are centred on Pablo Escobar and his Medellin cartel and DEA Agents Steve Murphy and Javier Peña while the third sees Peña leading the hunt for the 'Gentlemen of Cali', the cartel which eventually took over from Escobar.

                                                    The story shown is based on reality but the makers never pretend that it is entirely true... a pre-title card informs us that some characters are entirely fictional. That doesn't stop it feeling real thanks to the way events are depicted. The characters are shown in a matter of fact way leaving it to the viewer to judge them... of course given what we see some of them do it isn't hard to condemn many of them. Even so surprisingly few characters are totally unsympathetic at all times. The cast does a really impressive job bringing their characters to life; most obviously Pedro Pascal as Javier Peña and Wagner Moura as Pablo Escobar. Many people have commented about incorrect accents but I doubt this will be a problem for non-Spanish speakers; it was certainly better than having all characters speaking English. Overall I found the series really gripping; I'll certainly be watching 'Narcos: Mexico' soon.
                                                    </p>
											</li>
										</ul>

										<form action="#" class="form">
											<input type="text" class="form__input" placeholder="Title">
											<textarea class="form__textarea" placeholder="Review"></textarea>
											<div class="form__slider">
												<div class="form__slider-rating" id="slider__rating"></div>
												<div class="form__slider-value" id="form__slider-value"></div>
											</div>
											<button type="button" class="form__btn">Send</button>
										</form>
									</div>
								</div>
								<!-- end reviews -->
							</div>
						</div>

						<div class="tab-pane fade" id="tab-3" role="tabpanel" aria-labelledby="3-tab">
							<!-- project gallery -->
							<div class="gallery" itemscope>
								<div class="row">
									<!-- gallery item -->
									<figure class="col-12 col-sm-6 col-xl-4" itemprop="associatedMedia" itemscope>
										<a href="{{ url_for('static', filename='img/gallery/Narcos1.jpg') }}" itemprop="contentUrl" data-size="1920x1280">
											<img src="{{ url_for('static', filename='img/gallery/Narcos1.jpg') }}" itemprop="thumbnail" alt="Image description" />
										</a>
									</figure>
									<!-- end gallery item -->

									<!-- gallery item -->
									<figure class="col-12 col-sm-6 col-xl-4" itemprop="associatedMedia" itemscope>
										<a href="{{ url_for('static', filename='img/gallery/Narcos2.jpg') }}" itemprop="contentUrl" data-size="1920x1280">
											<img src="{{ url_for('static', filename='img/gallery/Narcos2.jpg') }}" itemprop="thumbnail" alt="Image description" />
										</a>
									</figure>
									<!-- end gallery item -->

									<!-- gallery item -->
									<figure class="col-12 col-sm-6 col-xl-4" itemprop="associatedMedia" itemscope>
										<a href="{{ url_for('static', filename='img/gallery/Narcos3.jpg') }}" itemprop="contentUrl" data-size="1920x1280">
											<img src="{{ url_for('static', filename='img/gallery/Narcos3.jpg') }}" itemprop="thumbnail" alt="Image description" />
										</a>
									</figure>
									<!-- end gallery item -->

									<!-- gallery item -->
									<figure class="col-12 col-sm-6 col-xl-4" itemprop="associatedMedia" itemscope>
										<a href="{{ url_for('static', filename='img/gallery/Narcos4.jpg') }}" itemprop="contentUrl" data-size="1920x1280">
											<img src="{{ url_for('static', filename='img/gallery/Narcos4.jpg') }}" itemprop="thumbnail" alt="Image description" />
										</a>
									</figure>
									<!-- end gallery item -->

									<!-- gallery item -->
									<figure class="col-12 col-sm-6 col-xl-4" itemprop="associatedMedia" itemscope>
										<a href="{{ url_for('static', filename='img/gallery/Narcos5.jpg') }}" itemprop="contentUrl" data-size="1920x1280">
											<img src="{{ url_for('static', filename='img/gallery/Narcos5.jpg') }}" itemprop="thumbnail" alt="Image description" />
										</a>
										n 5</figcaption>
									</figure>
									<!-- end gallery item -->

									<!-- gallery item -->
									<figure class="col-12 col-sm-6 col-xl-4" itemprop="associatedMedia" itemscope>
										<a href="{{ url_for('static', filename='img/gallery/Narcos6.jpg') }}" itemprop="contentUrl" data-size="1920x1280">
											<img src="{{ url_for('static', filename='img/gallery/Narcos6.jpg') }}" itemprop="thumbnail" alt="Image description" />
										</a>
									</figure>
									<!-- end gallery item -->

									<!-- gallery item -->
									<figure class="col-12 col-sm-6 col-xl-4" itemprop="associatedMedia" itemscope>
										<a href="{{ url_for('static', filename='img/gallery/Narcos7.jpg') }}" itemprop="contentUrl" data-size="1920x1280">
											<img src="{{ url_for('static', filename='img/gallery/Narcos7.jpg') }}" itemprop="thumbnail" alt="Image description" />
										</a>
										n 5</figcaption>
									</figure>
									<!-- end gallery item -->

									<!-- gallery item -->
									<figure class="col-12 col-sm-6 col-xl-4" itemprop="associatedMedia" itemscope>
										<a href="{{ url_for('static', filename='img/gallery/Narcos8.jpg') }}" itemprop="contentUrl" data-size="1920x1280">
											<img src="{{ url_for('static', filename='img/gallery/Narcos8.jpg') }}" itemprop="thumbnail" alt="Image description" />
										</a>
										n 5</figcaption>
									</figure>
									<!-- end gallery item -->

									<!-- gallery item -->
									<figure class="col-12 col-sm-6 col-xl-4" itemprop="associatedMedia" itemscope>
										<a href="{{ url_for('static', filename='img/gallery/Narcos9.jpg') }}" itemprop="contentUrl" data-size="1920x1280">
											<img src="{{ url_for('static', filename='img/gallery/Narcos9.jpg') }}" itemprop="thumbnail" alt="Image description" />
										</a>
										n 5</figcaption>
									</figure>
									<!-- end gallery item -->
								</div>
							</div>
							<!-- end project gallery -->
						</div>
					</div>
					<!-- end content tabs -->
				</div>

				<!-- sidebar -->
				<div class="col-12 col-lg-4 col-xl-4">
					<div class="row">
						<!-- section title -->
						<div class="col-12">
							<h2 class="section__title section__title--sidebar">You may also like...</h2>
						</div>
						<!-- end section title -->

						<!-- card -->
						<div class="col-6 col-sm-4 col-lg-6">
							<div class="card">
								<div class="card__cover">
									<img src="{{ url_for('static', filename='img/covers/KotaFact2.jpg') }}" alt="">
									<a href="/kotafactory" class="card__play">
										<i class="icon ion-ios-play"></i>
									</a>
								</div>
								<div class="card__content">
									<h3 class="card__title"><a href="/kotafactory">Kota Factory</a></h3>
									<span class="card__category">
										<a href="#">Crime</a>
										<a href="#">Drama</a>
									</span>
									<span class="card__rate"><i class="icon ion-ios-star"></i>9.2</span>
								</div>
							</div>
						</div>
						<!-- end card -->

						<!-- card -->
						<div class="col-6 col-sm-4 col-lg-6">
							<div class="card">
								<div class="card__cover">
									<img src="{{ url_for('static', filename='img/covers/moneyheist5.jpg') }}" alt="">
									<a href="/moneyheist" class="card__play">
										<i class="icon ion-ios-play"></i>
									</a>
								</div>
								<div class="card__content">
									<h3 class="card__title"><a href="/moneyheist">Money Heist</a></h3>
									<span class="card__category">
										<a href="#">Action</a>
									    <a href="#">Drama</a>
                                        <a href="#">Crime</a>
									</span>
									<span class="card__rate"><i class="icon ion-ios-star"></i>8.2</span>
								</div>
							</div>
						</div>
						<!-- end card -->

						<!-- card -->
						<div class="col-6 col-sm-4 col-lg-6">
							<div class="card">
								<div class="card__cover">
									<img src="{{ url_for('static', filename='img/covers/Mirzapur2.jpg') }}" alt="">
									<a href="Mirzapur.html" class="card__play">
										<i class="icon ion-ios-play"></i>
									</a>
								</div>
								<div class="card__content">
									<h3 class="card__title"><a href="/mirzapur">Mirzapur</a></h3>
									<span class="card__category">
										<a href="#">Crime</a>
									    <a href="#">Drama</a>
                                        <a href="#">Action</a>
									</span>
									<span class="card__rate"><i class="icon ion-ios-star"></i>8.5</span>
								</div>
							</div>
						</div>
						<!-- end card -->

						<!-- card -->
						<div class="col-6 col-sm-4 col-lg-6">
							<div class="card">
								<div class="card__cover">
									<img src="{{ url_for('static', filename='img/covers/FamilyMan2.jpg') }}" alt="">
									<a href="/familyman" class="card__play">
										<i class="icon ion-ios-play"></i>
									</a>
								</div>
								<div class="card__content">
									<h3 class="card__title"><a href="/familyman">The Family Man</a></h3>
									<span class="card__category">
										<a href="#">Action</a>
										<a href="#">Drama</a>
                                        <a href="#">Comedy</a>
									</span>
									<span class="card__rate"><i class="icon ion-ios-star"></i>8.8</span>
								</div>
							</div>
						</div>
						<!-- end card -->

						<!-- card -->
						<div class="col-6 col-sm-4 col-lg-6">
							<div class="card">
								<div class="card__cover">
									<img src="{{ url_for('static', filename='img/covers/Four_More_Shorta_Please_Poster.jpg') }}" alt="">
									<a href="/fourmoreshots" class="card__play">
										<i class="icon ion-ios-play"></i>
									</a>
								</div>
								<div class="card__content">
									<h3 class="card__title"><a href="/fourmoreshots">Four More Shots Please!</a></h3>
									<span class="card__category">
                                        <a href="#">Comedy</a>
										<a href="#">Drama</a>
                                        <a href="#">Romance</a>
									</span>
									<span class="card__rate"><i class="icon ion-ios-star"></i>6.4</span>
								</div>
							</div>
						</div>
						<!-- end card -->

						<!-- card -->
						<div class="col-6 col-sm-4 col-lg-6">
							<div class="card">
								<div class="card__cover">
									<img src="{{ url_for('static', filename='img/covers/squid_game.webp') }}" alt="">
									<a href="/squidgames" class="card__play">
										<i class="icon ion-ios-play"></i>
									</a>
								</div>
								<div class="card__content">
									<h3 class="card__title"><a href="/squidgames">Squid Games</a></h3>
									<span class="card__category">
										<a href="#">Drama</a>
										<a href="#">Mystery</a>
										<a href="#">Action</a>
									</span>
									<span class="card__rate"><i class="icon ion-ios-star"></i>8.2</span>
								</div>
							</div>
						</div>
						<!-- end card -->
					</div>
				</div>
				<!-- end sidebar -->
			</div>
		</div>
	</section>
	<!-- end content -->

	<!-- footer -->
	<footer class="footer">
		<div class="container">
			<div class="row">
				<!-- footer list -->
				<div class="col-12 col-md-3">
					<h6 class="footer__title">Download Our App</h6>
					<ul class="footer__app">
						<li><a href="#"><img src="{{ url_for('static', filename='img/Download_on_the_App_Store_Badge.svg') }}" alt=""></a></li>
						<li><a href="#"><img src="{{ url_for('static', filename='img/google-play-badge.png') }}" alt=""></a></li>
					</ul>
				</div>
				<!-- end footer list -->

				<!-- footer list -->
				<div class="col-6 col-sm-4 col-md-3">
					<h6 class="footer__title">Resources</h6>
					<ul class="footer__list">
						<li><a href="/about">About Us</a></li>
						<li><a href="/pricing">Pricing Plan</a></li>
						<li><a href="/faq">Help</a></li>
					</ul>
				</div>
				<!-- end footer list -->

				<!-- footer list -->
				<div class="col-6 col-sm-4 col-md-3">
					<h6 class="footer__title">Legal</h6>
					<ul class="footer__list">
						<li><a href="#">Terms of Use</a></li>
						<li><a href="#">Privacy Policy</a></li>
						<li><a href="#">Security</a></li>
					</ul>
				</div>
				<!-- end footer list -->

				<!-- footer list -->
				<div class="col-12 col-sm-4 col-md-3">
					<h6 class="footer__title">Contact</h6>
					<ul class="footer__list">
						<li><a href="tel:+91 9011675787">+91 9011675787</a></li>
						<li><a href="mailto:cse2000001028@iiti.ac.in">support@CineShow.com</a></li>
					</ul>
					<ul class="footer__social">
						<li class="facebook"><a href="#"><i class="icon ion-logo-facebook"></i></a></li>
						<li class="instagram"><a href="#"><i class="icon ion-logo-instagram"></i></a></li>
						<li class="twitter"><a href="#"><i class="icon ion-logo-twitter"></i></a></li>
						<li class="vk"><a href="#"><i class="icon ion-logo-vk"></i></a></li>
					</ul>
				</div>
				<!-- end footer list -->

				
			</div>
		</div>
	</footer>
	<!-- end footer -->

	<!-- JS -->
	<script src="{{ url_for('static', filename='js/jquery-3.3.1.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/owl.carousel.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/jquery.mousewheel.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/jquery.mCustomScrollbar.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/wNumb.js') }}"></script>
	<script src="{{ url_for('static', filename='js/nouislider.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/plyr.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/jquery.morelines.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/photoswipe.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/photoswipe-ui-default.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>

</html>